.slider-container{
    position: relative; overflow: hidden; 
    width: 100%; height: 100%; z-index: 10;

    .slider-wrapper{
        position: relative;
        width: 100%; height: 100%; z-index: 10;
        display: flex;
        // transform: translate3d(0px,0,0);
        transition-property: transform;
        box-sizing: content-box;
        transition: ease 300ms;
    }

    .slider-item{
        width: 100%; position: relative;
        display: flex; justify-content: center; align-items: center;
        flex-shrink: 0;
        .img{
            width: 100%;
            img{
                width: 100%;
            }
        }
        span{
            position: absolute;
            padding: 20px; background-color: #fff;
        }
    }
    .navigation{
        position: absolute; z-index: 100;
        top: 0; bottom: 0; margin:auto;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        width: 40px; height: 40px; 
        &.next{
            right: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='104.446' height='185.115' viewBox='0 0 104.446 185.115'%3E%3Cpath d='M840.212,385.743c.071-.135.139-.27.2-.41s.1-.282.145-.427.08-.282.108-.426.046-.3.06-.444.025-.292.025-.439-.011-.293-.025-.44-.032-.3-.06-.444-.067-.285-.108-.427-.088-.285-.145-.425-.125-.276-.2-.412a4.394,4.394,0,0,0-.224-.387,4.512,4.512,0,0,0-.287-.381c-.06-.074-.1-.155-.17-.226-.042-.046-.094-.078-.138-.122s-.075-.1-.122-.138l-95.2-87.927a4.63,4.63,0,1,0-6.283,6.8L829.306,383.6l-91.518,84.526a4.63,4.63,0,0,0,6.283,6.8L839.271,387c.048-.044.082-.1.127-.143s.092-.072.133-.117c.066-.071.11-.152.17-.226a4.5,4.5,0,0,0,.287-.38C840.071,386.005,840.143,385.875,840.212,385.743Z' transform='translate(-736.3 -291.039)'/%3E%3C/svg%3E");
        }
        &.prev{
            left: 0;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='104.447' height='185.115' viewBox='0 0 104.447 185.115'%3E%3Cpath d='M535.824,383.6l91.517-84.527a4.63,4.63,0,1,0-6.283-6.8l-95.2,87.927c-.046.043-.078.094-.122.138s-.1.076-.138.122c-.065.071-.109.152-.169.225a4.571,4.571,0,0,0-.288.383,5.6,5.6,0,0,0-.42.8,4.226,4.226,0,0,0-.144.424c-.042.142-.081.283-.109.428s-.046.294-.06.442-.025.293-.025.441.011.293.025.44.032.3.06.442.067.286.109.428a3.793,3.793,0,0,0,.341.837,4.388,4.388,0,0,0,.223.387,4.728,4.728,0,0,0,.288.382c.06.073.1.155.169.225.041.045.091.074.133.117s.079.1.127.143l95.2,87.928a4.63,4.63,0,1,0,6.283-6.8Z' transform='translate(-524.383 -291.039)'/%3E%3C/svg%3E");
        }
    }
    .pagination{
        position: absolute; z-index: 100;
        bottom: 0;
        width: 100%; padding: 10px 0px;
        display: flex; justify-content: center;
        .bullet{
            width: 10px; height: 10px; margin: 0px 5px;
            border-radius: 100%; background-color: #000; opacity: .2;
            &.active{
                background-color: #fff; opacity: 1;
            }
        }
    }
}